<div class="bannerPolitique">
  <img src="assets/confident.png" alt="">
</div>
<div class="TitleConf text-center ">
  <h3>Politique de confidentialité</h3>
</div>
<div class="docs">
  <div class="Paragraph1">
    <p>La présente Politique de Confidentialité définit la manière dont SEN-DECOUVERTE collecte, utilise, conserve et
      protège
      les informations que vous nous fournissez lorsque vous utilisez notre plateforme.</p>
  </div>
  <div class="Paragraph2">
    <p>La présente Politique de Confidentialité définit la manière dont SEN-DECOUVERTE collecte, utilise, conserve et
      protège
      les informations que vous nous fournissez lorsque vous utilisez notre plateforme.</p>
  </div>
  <div class="Paragraph3">
    <p>2. Utilisation des Informations : Les informations collectées peuvent être utilisées pour personnaliser votre
      expérience, traiter vos transactions, améliorer notre plateforme, répondre à vos demandes et vous envoyer des
      informations pertinentes. Vos informations ne seront pas vendues, échangées, transférées ou fournies à des tiers
      sans
      votre consentement, sauf dans le cadre des opérations nécessaires au fonctionnement de la plateforme.</p>
  </div>
  <div class="Paragraph4">
    <p></p>
  </div>
  <div class="Paragraph5">
    <p>2. Utilisation des Informations : Les informations collectées peuvent être utilisées pour personnaliser votre
      expérience, traiter vos transactions, améliorer notre plateforme, répondre à vos demandes et vous envoyer des
      informations pertinentes. Vos informations ne seront pas vendues, échangées, transférées ou fournies à des tiers
      sans
      votre consentement, sauf dans le cadre des opérations nécessaires au fonctionnement de la plateforme.</p>
  </div>
  <div class="Paragraph6">
    <p>4. Cookies et Technologies Similaires : Nous utilisons des cookies et d'autres technologies similaires pour
      améliorer
      votre expérience de navigation sur SEN-DECOUVERTE. Vous pouvez configurer votre navigateur pour qu'il refuse tous
      les
      cookies ou vous avertisse lorsqu'un cookie est envoyé. Cependant, certaines fonctionnalités de la plateforme peuvent
      ne
      pas fonctionner correctement sans l'utilisation de cookies.</p>
  </div>
  <div class="Paragraph6">
    <p>5. Partage d'Informations : Nous ne partageons pas vos informations personnelles identifiables avec des tiers, sauf
      dans
      les cas où cela est nécessaire pour fournir les services demandés ou lorsque requis par la loi. Cela peut inclure le
      partage d'informations avec nos partenaires de confiance, tels que des prestataires de services tiers.</p>
  </div>
  <div class="Paragraph6">
    <p>6. Consentement : En utilisant notre plateforme, vous consentez à notre politique de confidentialité.
      7. Modifications de la Politique de Confidentialité : Nous nous réservons le droit de modifier cette politique de
      confidentialité à tout moment. Les modifications seront effectives dès leur publication sur la plateforme.
      8. Contact : Si vous avez des questions concernant cette politique de confidentialité, veuillez nous contacter à
      [sendecouverte@gmail.com].</p>
  </div>
</div>
