<!-- <p>lister-zone works!</p> -->
<app-sidebar></app-sidebar>
<div class="listeZon">
  <h2>Liste des zones touristique</h2>
</div>
 <div class="datetable">
<!-- Modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
<!-- modal ajout  -->

<!-- fin modal -->
   <table datatable [dtOptions]="dtOptions" class="row-border hover w-100 table">
     <thead class="">
       <tr>
         <th>Images</th>
         <th>Nom de la zone</th>
         <th>Couts</th>
         <th>Durée</th>
         <th>Statut</th>
         <th>Action</th>
       </tr>
     </thead>
     <tbody class="Souscategorie">
       <tr>
         <td>1</td>
         <td>Gorée</td>
         <td>10000fcfa</td>
         <td>2h</td>
         <td>Publier </td>
        <td><span id="icon"><i class="fa-solid fa-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i
         class="fa-solid fa-trash"></i></span></td>
       </tr>
       <tr>
         <td>2</td>
         <td>Ile du Saloum</td>
         <td>10000fcfa</td>
         <td>2h</td>
         <td>Publier</td>
        <td><span id="icon"><i class="fa-solid fa-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-trash"></i></span>
        </td>
       </tr>
       <tr>
         <td>3</td>
         <td>Saly Mbour</td>
         <td>10000fcfa</td>
         <td>2h</td>
         <td>Publier</td>
        <td><span id="icon"><i class="fa-solid fa-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-trash"></i></span>
        </td>
       </tr>
       <tr>
         <td>4</td>
         <td>Parc Niokolo Kaba</td>
         <td>10000fcfa</td>
         <td>2h</td>
         <td>Publier</td>
        <td><span id="icon"><i class="fa-solid fa-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-trash"></i></span>
        </td>
       </tr>
       <tr>
         <td>5</td>
         <td>Pont Federbe de Saint-louis</td>
         <td>10000fcfa</td>
         <td>2h</td>
         <td>Publier</td>
        <td><span id="icon"><i class="fa-solid fa-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-trash"></i></span>
        </td>
       </tr>
       <tr>
         <td>6</td>
         <td>Menument de rennaissance</td>
         <td>10000fcfa</td>
         <td>2h</td>
         <td>Publier</td>
        <td><span id="icon"><i class="fa-solid fa-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-trash"></i></span>
        </td>
       </tr>
       <tr>
         <td>7</td>
         <td>Parc Bandia</td>
         <td>10000fcfa</td>
         <td>2h</td>
         <td>Publier</td>
        <td><span id="icon"><i class="fa-solid fa-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-trash"></i></span>
        </td>
       </tr>
       <tr>
         <td>8</td>
         <td>Reserve de Fathala</td>
         <td>10000fcfa</td>
         <td>2h</td>
         <td>Publier</td>
        <td><span id="icon"><i class="fa-solid fa-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-trash"></i></span>
        </td>
       </tr>
       <tr>
         <td>9</td>
         <td>Kedougou</td>
         <td>10000fcfa</td>
         <td>2h</td>
         <td>Publier</td>
        <td><span id="icon"><i class="fa-solid fa-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-trash"></i></span>
        </td>
       </tr>
       <tr>
         <td>10</td>
         <td>Cap Skiring</td>
         <td>10000fcfa</td>
         <td>2h</td>
         <td>Publier</td>
        <td><span id="icon"><i class="fa-solid fa-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i
         class="fa-solid fa-trash"></i></span></td>
       </tr>
     </tbody>
   </table>
 </div>
