
.listeZon{
background-color: white;
box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
justify-content: center;
text-align: center;
height: 50px;
width: 67%;
margin-left: 20%;
margin-top: 50px;
}
.listeZon h2{
color: black;
display: flex;
height: 100%;
align-items: center;
justify-content: center;
/* border: 1px solid red; */

}
/* table liste */
.datetable{
  padding: 200px;
  margin-left: 100px;
  margin-top: -190px;
}
.titleListe{
  background-color: #18283B;

}
.titleListe th{
  color: white;
}
.Souscategorie td {
  color: black;
}
.profil img{
 max-width: 30px;
 max-height: 30px ;
}
/* modal debut  */

/* modal fin */
/* lister-zone.component.css */

.zone-list {
  position: relative;
}

.add-zone-button {
  margin-bottom: 10px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup.active {
  display: flex;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* text-align: center; */
  width: 30%;
}

.popup-content label,
.popup-content input {
  display: block;
  margin-bottom: 10px;

}

.popup-content button {
  background: #18283B;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  gap: 100px;
  margin-top: 15px;

}
.add-zone-button{
  background-color: #18283B;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  gap: 50px;
}
.Enregistre{
  margin-right: 20px;
}
