<!-- <p>lister-zone works!</p> -->
<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="listeZon ">
  <h2>Liste des zones touristique</h2>
</div>
 <div class="datetable">
<!-- Modal -->
  <button class="add-zone-button" (click)="togglePopup()">Ajouter</button>
<!-- fin modal -->
   <table datatable [dtOptions]="dtOptions" class="row-border hover w-100 table" *ngIf="tabZone.length>0">
     <thead class="">
       <tr>
         <th>Images</th>
         <th>Nom de la zone</th>
         <th>Descriptions </th>
         <th>Couts</th>
         <th>Durée</th>
         <th>Statut</th>
         <th>Action</th>
       </tr>
     </thead>
     <tbody class="Souscategorie">
       <tr *ngFor="let zone of tabZone">
         <td><img src="http://127.0.0.1:8000/storage/{{zone.images}}" alt="test"></td>
         <td>{{zone.nom}}</td>
         <td>{{zone.description}}</td>
         <td>{{zone.cout}}</td>
         <td>{{zone.duree}}</td>
        <td><button type="button" class="btn btn-outline-primary" >{{zone.statut}}</button></td>
        <td><span><i class="fa-solid fa-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;
          <i (click)="supprimerZone(zone.id)" class="fa-solid fa-trash" style="cursor: pointer;">
          </i>&nbsp;&nbsp;&nbsp;&nbsp;<i (click)="zonepublier(zone.id)" class="fa-solid fa-rectangle-ad"  style="cursor: pointer;"></i> </span> </td>
       </tr>
     </tbody>
   </table>
  <table *ngIf="tabZone.length<0">
    <thead class="thHead">
      <tr class="thHead">
        <th>Images</th>
        <th>Nom de la zone</th>
        <th>Descriptions </th>
        <th>Couts</th>
        <th>Durée</th>
        <th>Statut</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Aucune donnée disponible dans le tableau</td>
      </tr>
    </tbody>
  </table>
 </div>

 <!-- Popup -->
 <div class="zone-list">
   <div class="popup" [class.active]="showPopup">
     <div class="popup-content">
       <h2>Ajouter Zone</h2>
       <label for="images">Images:</label>
       <input type="file" id="image" (change)="getFile($event)" accept="image" [(ngModel)]="images" required>
       <label for="name">Nom:</label>
       <input type="text" id="name" [(ngModel)]="nom" style="width: 100%;">
       <label for="description">Description:</label>
       <input type="text" id="description" [(ngModel)]="description" style="width: 100%;">
       <label for="cout">Tarif:</label>
       <input type="text" id="cout" [(ngModel)]="Tarif" style="width: 100%;">
       <label for="duration">Heure:</label>
       <input type="text" id="duration" [(ngModel)]="duree" style="width: 100%;">
       <label for="status">État:</label>
       <select id="status" [(ngModel)]="status" style="width: 100%;">
         <option value="publie">Publié</option>
         <option value="non-publie">Non publié</option>
       </select>
       <label for="action">Action:</label>
       <select id="action" [(ngModel)]="newZone.action" style="width: 100%;">
        <td><span id="icon"><i class="fa-solid fa-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-trash"></i></span>
        </td>
       </select>
       <button (click)="saveAndClose()" class="Enregistre" (click)="ajouterZone()">Ajouter</button>
       <button (click)="togglePopup()" class="Fermer">Annuler</button>
     </div>
   </div>
 </div>
 <!-- modal fin -->





