<!-- <p>lister-zone works!</p> -->
<app-sidebar></app-sidebar>
<div class="listeZon">
  <h2>Liste des zones touristique</h2>
</div>
 <div class="datetable">
<!-- Modal -->
  <button class="add-zone-button" (click)="togglePopup()">Ajouter</button>
<!-- fin modal -->
   <table datatable [dtOptions]="dtOptions" class="row-border hover w-100 table">
     <thead class="">
       <tr>
         <th>Images</th>
         <th>Nom de la zone</th>
         <th>Couts</th>
         <th>Durée</th>
         <th>Statut</th>
         <th>Action</th>
       </tr>
     </thead>
     <tbody class="Souscategorie">
       <tr>
         <td>1</td>
         <td>Gorée</td>
         <td>10000fcfa</td>
         <td>2h</td>
         <td>Publier </td>
        <td><span id="icon"><i class="fa-solid fa-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i
         class="fa-solid fa-trash"></i></span></td>
       </tr>
       <tr>
         <td>2</td>
         <td>Ile du Saloum</td>
         <td>10000fcfa</td>
         <td>2h</td>
         <td>Publier</td>
        <td><span id="icon"><i class="fa-solid fa-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-trash"></i></span>
        </td>
       </tr>
       <tr>
         <td>3</td>
         <td>Saly Mbour</td>
         <td>10000fcfa</td>
         <td>2h</td>
         <td>Publier</td>
        <td><span id="icon"><i class="fa-solid fa-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-trash"></i></span>
        </td>
       </tr>
       <tr>
         <td>4</td>
         <td>Parc Niokolo Kaba</td>
         <td>10000fcfa</td>
         <td>2h</td>
         <td>Publier</td>
        <td><span id="icon"><i class="fa-solid fa-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-trash"></i></span>
        </td>
       </tr>
       <tr>
         <td>5</td>
         <td>Pont Federbe de Saint-louis</td>
         <td>10000fcfa</td>
         <td>2h</td>
         <td>Publier</td>
        <td><span id="icon"><i class="fa-solid fa-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-trash"></i></span>
        </td>
       </tr>
       <tr>
         <td>6</td>
         <td>Menument de rennaissance</td>
         <td>10000fcfa</td>
         <td>2h</td>
         <td>Publier</td>
        <td><span id="icon"><i class="fa-solid fa-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-trash"></i></span>
        </td>
       </tr>
       <tr>
         <td>7</td>
         <td>Parc Bandia</td>
         <td>10000fcfa</td>
         <td>2h</td>
         <td>Publier</td>
        <td><span id="icon"><i class="fa-solid fa-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-trash"></i></span>
        </td>
       </tr>
       <tr>
         <td>8</td>
         <td>Reserve de Fathala</td>
         <td>10000fcfa</td>
         <td>2h</td>
         <td>Publier</td>
        <td><span id="icon"><i class="fa-solid fa-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-trash"></i></span>
        </td>
       </tr>
       <tr>
         <td>9</td>
         <td>Kedougou</td>
         <td>10000fcfa</td>
         <td>2h</td>
         <td>Publier</td>
        <td><span id="icon"><i class="fa-solid fa-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-trash"></i></span>
        </td>
       </tr>
       <tr>
         <td>10</td>
         <td>Cap Skiring</td>
         <td>10000fcfa</td>
         <td>2h</td>
         <td>Publier</td>
        <td><span id="icon"><i class="fa-solid fa-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i
         class="fa-solid fa-trash"></i></span></td>
       </tr>
     </tbody>
   </table>
 </div>

 <!-- Popup -->
 <div class="zone-list">
   <div class="popup" [class.active]="showPopup">
     <div class="popup-content">
       <h2>Ajouter Zone</h2>
       <label for="image">Image:</label>
       <input type="file" id="image" (change)="getFile($event)" accept="image" required>
       <img *ngIf="newZone.image" [src]="newZone.image" alt="Image prévisualisée">
       <label for="name">Nom:</label>
       <input type="text" id="name" [(ngModel)]="newZone.name" style="width: 100%;">
       <label for="cost">Tarif:</label>
       <input type="number" id="cost" [(ngModel)]="newZone.cost" style="width: 100%;">
       <label for="duration">Heure:</label>
       <input type="number" id="duration" [(ngModel)]="newZone.duration" style="width: 100%;">
       <label for="status">État:</label>
       <select id="status" [(ngModel)]="newZone.status" style="width: 100%;">
         <option value="publie">Publié</option>
         <option value="non-publie">Non publié</option>
       </select>
       <label for="action">Action:</label>
       <select id="action" [(ngModel)]="newZone.action" style="width: 100%;">
         <option value="modifier">Modifier</option>
         <option value="supprimer">Supprimer</option>
       </select>
       <button (click)="saveAndClose()" class="Enregistre">Enregistrer</button>
       <button (click)="togglePopup()" class="Fermer">Fermer</button>
     </div>
   </div>
 </div>
 <!-- modal fin -->
