.tableGuide img{
  width: 50px;
}

.boutonAguide{
  margin-left: 300px;
  margin-top: 20px;
}
.Adguid{
  background-color: #18283B;
  height: 30px;
  width: 110px;
  color: white;
  border-radius: 10px;
}

.table{
  margin-left: 300px;
    width: 76%;
    margin-top: 40px;
    /* border:  1px solid red; */
}
.listeGui{
  background-color: white;
    /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 75%;
    margin-left: 20%;
    margin-top: 50px;
}
.listeGui h1{
  font-weight: bold;
}
.tbGuides th{
  background-color: #18283B;
    color: white;
    font-weight: bold;
}

/* bouton popup */
.add-Guide-button {
  background-color: #18283B;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  gap: 50px;
  margin-left: 20%;
  margin-top: 10px;
}
/* css pour popup */

