<!-- <p>bonjour</p> -->
<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="containerAdmin">

  <div class="row">

    <div class="four col-md-3">
      <div class="counter-box colored">
        <i class="fa-solid fa-location-dot"></i>
        <span class="counter">16</span>
        <p>Zones</p>
      </div>
    </div>
    <div class="four col-md-3">
      <div class="counter-box">
        <i class="fa fa-group"></i>
        <span class="counter">64</span>
        <p>Guides</p>
      </div>
    </div>
    <div class="four col-md-3">
      <div class="counter-box">
        <i class="fa-solid fa-comment-dots"></i>
        <span class="counter">442</span>
        <p>Témoignages</p>
      </div>
    </div>
    <div class="four col-md-3">
      <div class="counter-box">
      <i class="fa-solid fa-person-walking-with-cane"></i>
        <span class="counter">5</span>
        <p>Parcs</p>
      </div>
    </div>
  </div>
</div>
