<!-- <p>bonjour</p> -->
<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="containerAdmin">
  <div class="row">
    <div class="four col-md-3">
      <div class="counter-box">
        <i class="fa-solid fa-location-dot"></i>
        <span class="counter">{{ zones?.length }}</span>
        <p>Zones</p>
      </div>
    </div>
    <div class="four col-md-3">
      <div class="counter-box">
        <i class="fa-solid fa-person-walking-with-cane"></i>
        <span class="counter">{{ guides?.length }}</span>
        <p>Guides</p>
      </div>
    </div>
    <div class="four col-md-3">
      <div class="counter-box">
        <i class="fa-solid fa-comment-dots"></i>
        <span class="counter">{{ message?.length }}</span>
        <p>Messages</p>
      </div>
    </div>
    <div class="four col-md-3">
      <div class="counter-box">
        <i class="fa-solid fa-torii-gate"></i>
        <span class="counter">{{ reservations?.length }}</span>
        <p>Résevations</p>
      </div>
    </div>
  </div>
  <div id="chart"></div>
</div>
