.containerAdmin {
  margin-top: 100px;
  /* border: 1px solid red; */
  margin-left: 290px;
}
.row{
  max-height: 130px;
  /* border: 2px solid red; */
}


.counter-box {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  display: block;
  /* background: #f6f6f6; */
  padding: 40px 20px 37px;
  text-align: center;
  max-width: 260px;
  max-height: 130px;
  margin-top: -50px;
  /* margin-left: 200px; */
  /* border: 2px solid red; */


}

.counter-box p {
  margin: 5px 0 0;
  padding: 0;
  color: #F09E4D;
  font-size: 18px;
  font-weight: 500
}

.counter-box i {
  font-size: 60px;
  margin-top: -50px;
  color: #909090;
  /* border: 1px solid red; */

}

.counter {
  display: block;
  font-size: 32px;
  font-weight: 700;
  color: #909090;
  line-height: 28px;
  margin-top: 5px;
}

.counter-box.colored p{
  color: #F09E4D;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
  color: #909090
}
/* pour mon le graphique */
#chart{
  margin-top: 30px;
}
