<!-- formulaire de contact -->
<app-header-component></app-header-component>
<div class="bannercontact">
  <img src="" alt="">
</div>
<div class="card mb-3 container mt-5  ">
  <form class="row g-0 formulaire">
    <div class="col-md-5 image">
      <img src="https://img.freepik.com/photos-gratuite/femme-parlant-au-telephone-gros-plan_23-2148336843.jpg?size=626&ext=jpg&ga=GA1.2.1437972313.1694467442&semt=ais" class="img-fluid" alt="...">
    </div>
    <div class="col-md-7 ">
      <div class="card-body">
        <h2 class="card-titleContact">Contatez - nous</h2>
        <div class="mb-3 nomprenom">
          <input type="text" placeholder="Nom" class="mb-3 me-3">
          <input type="text" placeholder="Prénom" class="mb-3 ">
        </div>
        <div class="mb-3 nomprenom">
          <input type="email" id="exampleInputEmail1" placeholder="E-mail" class="mb-3 me-3"
            aria-describedby="emailHelp">
          <input type="tel" placeholder="Téléphone" class="mb-3 " id="exampleInputPassword1">
        </div>
        <div class="gmessage">
          <textarea name="" id="" cols="43" rows="3" placeholder="Message" class="message"></textarea>
        </div>
        <div class="bton">
          <button type="submit" class="bg-danger w-5 btn">Envoyer</button>
        </div>
      </div>
    </div>
            <div class="contact">
              <div class="tel">
                <i class="bi bi-telephone"></i>
                <p>+221 77 322 04 68</p>
                <p>+221 77 131 81 03</p>
              </div>
              <div class="email">
                <i class="bi bi-envelope-fill"></i>
                <p>sendecouvert@gmail.com</p>
              </div>
              <div class="localisation">
                <i class="bi bi-geo-alt-fill"></i>
                <p>Dakar, Sénégal</p>
              </div>
            </div>
            </form>
            </div>

            <app-footer></app-footer>
