
.bannerContact img{
  width: 100%;
  margin-top: 5px;
}
.FormulaireContact{
  /* background:url()no-repeat ; */
  /* justify-content: center; */
  display: flex;
  margin: 5%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  opacity: 20px;
 height: 10%;

}
.Messageri{
  margin-top: 40px;
  /* margin-left: 50%; */

}
.FormContact{
  /* margin-top: 20px; */
  /* margin-left: 50%; */
  /* height: 500px; */
  /* border: 1px solid red; */

}
.FormContact label{
  color: black;
  font-weight: bold;
}
.FormContact input{
 width: 100%;
/* height: 40px;  */
/* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */

}
.FormContact textarea{
  width: 50%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.FormContact button{
  font-weight: bold;
}
.envoyer-button:hover{
color: red;
}
.error-message {
  color: red;
  margin-top: 5px;
  font-size: 12px;
}
.piedPagecontact{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
