<!-- <p>login works!</p> -->
<div class="back-to-home" [routerLink]="['/accueil']">← Retour à l'accueil</div>
<form action="">
  <div class="sectionbody">
    <div class="authlogin">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
          <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <h1 class="ConnexIscrip"><span>Se connecter </span><span>S'inscrire</span></h1>
            <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
            <label for="reg-log"></label>
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-front">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="Connexion">Se connecter</h4>
                      <div class="form-group">
                        <input type="email" name="email" class="form-style" placeholder="Votre adresse e-mail"
                          id="logemail" autocomplete="off" [(ngModel)]="formData.email">
                        <i class="input-icon uil uil-at"></i>
                      </div>
                      <div class="form-group mt-2">
                        <input type="password" name="password" class="form-style" placeholder=" Votre mot de pass"
                          id="logpass" autocomplete="off" [(ngModel)]="formData.password">
                        <i class="input-icon uil uil-lock-alt"></i>
                      </div>
                      <a href="#" class="Connexion2 text-center"(click)=" connecion()" >connecter</a>
                      <p class="Motpass"><a href="#" class="link">Mot de pass oublier?</a></p>
                    </div>
                  </div>
                </div>
                <div class="card-back">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h1 class="Inscrire2">S'inscrire</h1>
                      <div class="form-group">
                        <input type="text" name="logemail" class="form-style" placeholder="Nom et Prenom" id="logname"
                          autocomplete="off" [(ngModel)]="register.name">
                        <i class="input-icon uil uil-user"></i>
                      </div>
                      <div class="form-group mt-2">
                        <input type="email" name="logemail" class="form-style" placeholder="Votre adresse mail"
                          id="logemail" autocomplete="off" [(ngModel)]="register.email">
                        <i class="input-icon uil uil-at"></i>
                      </div>
                      <div class="form-group mt-2">
                        <input type="password" name="logpass" class="form-style" placeholder="Mot de pass" id="logpass"
                          autocomplete="off" [(ngModel)]="register.password">
                        <i class="input-icon uil uil-lock-alt"></i>
                      </div>
                      <a href="#" class="Soumtt" (click)="inscription()">Soumettre</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
