<!-- <p>bonjour</p> -->
<app-header-component></app-header-component>
<!-- detail debut section -->
<section>
  <div class="second-container" *ngIf="zoneDetail">
    <div class="section-heading wow fadeIn">
      <h2 class="ml3 text-center mt-6">La zone touristique : {{zoneDetail.nom}}</h2>
      <div class="heading-separator"></div>
    </div>
    <div class="row">
      <div class="history-wrapper">
        <div class="title-wrap text-center one-of-two">
          <h2 class="h1  mb-0 ">Historique</h2>
          <p class="fs-3 font-weight-500">Créé en 1956, le Parc national du Niokolo-Koba (PNNK) est situé à 650 km à l’est de Dakar dans la région de Tambacounda.
          Avec près d’un million d’hectares d’une nature incroyablement riche, entre forêts-galeries, grandes plaines humides,
          savane arborée. </p>
        </div>
        <div class="timeline-box one-of-two" >
          <img class="mb-1-6 rounded" src="http://127.0.0.1:8000/storage/{{zoneDetail.images}}" alt="...">
          <div class="content">
            <h3 class="h4 mb-2 mb-md-3">{{zoneDetail.nom}}</h3>
            <p class="mb-0">{{zoneDetail.description}}</p>
          </div>
          <div class="year">Zone</div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Team -->
<section id="team" class="pb-5">
  <div class="container">
    <h1 class="section-title h1">Nos Guides</h1>
    <div class="row">
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let item of guidedispo">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid"
                      src="http://127.0.0.1:8000/storage/{{item.image}}" alt="card image">
                  </p>
                  <h4 class="card-title">{{item.name}}</h4>
                  <h4 class="card-title">{{item.email}}</h4>
                  <h4 class="card-title">experience:{{item.duree_experience
}}</h4>
                  <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i
                      class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>
            <div class="backside col-12  col-md-12">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">{{item.name}}</h4>
                  <p class="card-text">{{item.description}}</p>
                  <!-- <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->

    </div>
  </div>
</section>
<!-- Team --><!-- section reservaton -->
<form class="reservation">
  <div class="titlereservation">
    <h3>Faites votre reservation</h3>
  </div>
  <div class="nomEttel col col-md-6">
    <div class="votreNom">
      <label for="">Nom</label>
      <input type="text" placeholder="ngom" name="nom" [(ngModel)]="Nom">
    </div>
    <div class="teleph">
    <label for="">Telephone:</label>
    <input type="text" placeholder="00221...." name="telephone" [(ngModel)]="telephone">
    </div>
  </div>
  <div class="sectionreserve1 col col-md-6">
    <div class="email-input">
      <label for="email">Adresse e-mail :</label >
      <input type="email" placeholder="@gmail.com" id="email" name="email" [(ngModel)]="email" ><br>
    </div>
    <div class="person-selector">
    <label for="guide">Choisissez votre guide:</label>
    <select name="guide" class="form-control omar" [(ngModel)]="guide">
      <!-- Utilisation de *ngFor pour boucler à travers le tableau tabZone et générer les options -->
      <option *ngFor="let elt of tabZoneGuide" [value]="elt.id">{{ elt.name }}</option>
    </select>
  </div>
  </div>
  <div class="NombreZetJours col col-md-6">
    <div class="person-selector">
      <label for="selectedNombrejrs">Nombre de personnes:</label>
      <input type="number" placeholder="nombre de personne" id="selectedPerson" name="personne" [(ngModel)]="nombre_de_personnes">
    </div>
    <div class="VotreZone">
      <label for="">Zone:</label>
      <input type="text"  [value]="zoneDetail.nom" disabled="disabled"  name="zone" [(ngModel)]="zoneDetail.id">

    </div>
  </div>
  <div class="sectionreserve2 col col-md-6">
    <div class="date-input">
      <label for="startDate">Date et heure de début :</label>
      <input type="datetime-local" id="startDate" name="datedebute"[(ngModel)]="date_debut">
    </div>
    <div class="date-input">
      <label for="endDate">Date et heure de fin :</label>
      <input type="datetime-local" id="endDate" name="datefin" [(ngModel)]="date_fin">
    </div>
  </div>
<div class="mesBoutons">
  <div class="submit-button ">
    <button type="submit" (click)="Test()">Valider</button>
  </div>
  <div class="annuler-bouton">
    <button type="button" >Annuler</button>
  </div>
</div>
</form>

<!-- fin -->

<!-- footer -->
<app-footer></app-footer>


