
  <!-- </header> -->
      <section class="top-area">
        <div class="header-area">
          <!-- Start Navigation -->
          <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70"
            data-minus-value-mobile="55" data-speed="1000">
            <div class="containerHeader" style="display: flex;">
              <!-- Header Navigation -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                  <i class="fa fa-bars"></i>
                </button>
                <div class="headerLogo">
                  <a class="navbar-brand" href="accueil"><img src="assets/2emlogo.png" alt="mon logo header"></a>
                </div>
              </div>
              <!-- <menu></menu> -->
              <div class="collapse navbar-collapse menu-ui-design d-flex" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right d-flex flex-row" data-in="fadeInDown" data-out="fadeOutUp">
                  <li class=" scroll"><a routerLink="accueil">Acceuil</a></li>
                  <li class="scroll "><a routerLink="/apropos">Apropos</a></li>
                  <li class="scroll"><a routerLink="/explorer">explorer</a></li>
                  <li class="scroll"><a routerLink="/contactez-nous" >Contactez-nous</a></li>
                  <li class="scroll"><a [routerLink]="['/login']">Se connecter </a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </section>

