
<div class="Navigation fixed-top  ">
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand logo" routerLink="/accueil">
        <img src="assets/2emlogo-remov.png" class="img-fluid" alt="">
      </a>
      <button class="navbar-toggler burger collapsed text-white" type="button" data-bs-toggle="collapse"
        data-bs-target="#navigationMenu" aria-controls="navigationMenu" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class=""><i class="fa-solid fa-bars"></i></span>
      </button>

      <div class="navbar-collapse collapse " id="navigationMenu">
        <ul class="navbar-nav mx-auto justify-content-center mb-lg-0">
          <li class="nav-item mx-2">
            <a class="nav-link" routerLinkActive="activeLink" routerLink="/accueil">Accueil</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" routerLinkActive="activeLink" routerLink="/apropos">A propos</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" routerLinkActive="activeLink" routerLink="/explorer">Explore</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" routerLinkActive="activeLink" routerLink="/contactez-nous">Contactez-nous</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" routerLinkActive="activeLink" [routerLink]="['/login']">Se connecter</a>
          </li>
        </ul>

      </div>

    </div>
  </nav>
</div>


<!--

      <section class="top-area">
        <div class="header-area">

          <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70"
            data-minus-value-mobile="55" data-speed="1000">
            <div class="containerHeader" style="display: flex;">

              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                  <i class="fa fa-bars"></i>
                </button>
                <div class="headerLogo">
                  <a class="navbar-brand" href="accueil"><img src="assets/2emlogo-remov.png" alt="mon logo header"></a>
                </div>
              </div>

              <div class="collapse navbar-collapse menu-ui-design d-flex" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right d-flex flex-row" data-in="fadeInDown" data-out="fadeOutUp">
                  <li class=" scroll"><a routerLink="accueil">Acceuil</a></li>
                  <li class="scroll "><a routerLink="/apropos">Apropos</a></li>
                  <li class="scroll"><a routerLink="/explorer">explorer</a></li>
                  <li class="scroll"><a routerLink="/contactez-nous" >Contactez-nous</a></li>
                  <li class="scroll"><a [routerLink]="['/login']">Se connecter </a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </section>
 -->
