<div class="AproposBanner">
  <img src="assets/Img-Apropos2.png" alt="">
</div>
<div class="textBienvenue">
  <!-- <h2>Bienvenue chez Sen-decouverte</h2> -->
</div>
<div class="cardAprops">
<div class="card mb-3 mt-6 ">
  <div class="row g-0 ">
    <div class="col-md-6">
      <img src="https://www.irss.fr/media/card-game-group-of-people-have-picnic-on-the-beac-2021-08-28-17-37-09-utc.jpg" alt="...">
    </div>
    <div class="col-md-6 ">
      <div class="Textcard">
      <div class="card-body ">
        <h5 class="card-title ">Qui sommes-nous ?</h5>
        <p class="card-text">

          Sen-découverte est une plateforme touristique dédiée à l'exploration et à la découverte du Sénégal. Notre mission
          est de
          faciliter des expériences de voyage enrichissantes en mettant en avant les diverses merveilles culturelles,
          historiques
          et naturelles de cette région unique.

          Que vous soyez passionné par la riche histoire du pays,
          attiré par ses paysages variés ou intéressé par sa cuisine exquise, Sen-découverte offre une mine d'informations et
          de
          conseils pour vous aider à planifier votre voyage de manière inoubliable.</p>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="TitreEquipe">
  <h2>Notre Equipe</h2>
</div>
<div class="notreTeam">
  <div id="home" class="first_page">
    <div class="wrapper">
      <div class="header header_home">Hi, Je suis Djiyé Ngom,<br><br> Développeuse Back-end</div>
      <div class="content content_home">Toujours avide d'apprendre et de rester à l'affût des dernières avancées du technologie . je suis passionné et
      persévérante d'une véritable amoureuse de l'informatique </div>
      <div class="image"></div>
    </div>
  </div>
</div>
<div class="QuiNousS">
  <img src="assets/Qui.png" alt="">
</div>

