<!-- <p>reservation works!</p> -->
<app-navbar></app-navbar>
<!-- sibbar -->
<app-sidebar></app-sidebar>
<!-- <table></table> -->
<div class="ReservtionListe">
  <h2>Gestion des reservations</h2>
</div>
<table class="table">
  <thead class="sousTitreL">
    <tr>
      <!-- <th scope="col">image</th> -->
      <th scope="col">Nom et Prénom</th>
      <th scope="col">Lieu</th>
      <th scope="col">Moi</th>
      <th scope="col">Telephone</th>
      <th scope="col">Etat</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor=" let element of dataresevation">
      <!-- <th scope="row" >1</th> -->
      <td> {{element.Nom}}</td>
      <td>Gorée </td>
      <td> {{element.date_debut
            }} à {{element.date_fin
            }} </td>
      <td>{{element.telephone}}</td>
      <div class="boutonAction d-flex">
        <td><button type="button" class="btn btn-outline-primary">Acepter </button></td> &nbsp;&nbsp;
        <td><button type="button" class="btn btn-outline-danger">Refuser</button></td>
      </div>
    </tr>

  </tbody>
</table>
