<!-- <p>reservation works!</p> -->
<app-navbar></app-navbar>
<!-- sibbar -->
<app-sidebar></app-sidebar>
<!-- <table></table> -->
<div class="ReservtionListe">
  <h2>Gestion des reservations</h2>
</div>
<table class="table">
  <thead class="sousTitreL">
    <tr>
      <th scope="col">image</th>
      <th scope="col">Nom et Prénom</th>
      <th scope="col">Lieu</th>
      <th scope="col">Moi</th>
      <th scope="col">Heures</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Seck Djiby</td>
      <td>Gorée </td>
      <td>20 Mars 2024</td>
      <td>10h30</td>
      <div class="boutonAction d-flex">
        <td><button type="button" class="btn btn-outline-primary">Acepter </button></td> &nbsp;&nbsp;
        <td><button type="button" class="btn btn-outline-danger">Refuser</button></td>
      </div>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Ndine Andre</td>
      <td>Ile du Saloum</td>
      <td>15 Janvier 2024</td>
      <td>15h15</td>
      <div class="boutonAction d-flex">
        <td><button type="button" class="btn btn-outline-primary">Acepter </button></td> &nbsp;&nbsp;
        <td><button type="button" class="btn btn-outline-danger">Refuser</button></td>
      </div>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Diop Assane</td>
      <td>Parc Niokolo koba</td>
      <td>25 Janvier 2024</td>
      <td>17h10</td>
      <div class="boutonAction d-flex">
        <td><button type="button" class="btn btn-outline-primary">Acepter </button></td> &nbsp;&nbsp;
        <td><button type="button" class="btn btn-outline-danger">Refuser</button></td>
      </div>
    </tr>
  </tbody>
</table>
