.footerLogo img{
  height: 60px;
  width: 80px;
  margin-bottom: 30px;
    /* border: 1px solid red; */
}
.footer{
  background-color: #0E1E25;

}
.footer-menu-item{
color: white;
text-decoration: none;
}
.footer-menu-item li{
  text-decoration: none;
  /* border: 2px solid red; */
}
