.footerLogo img{
    width: 100px;
      border-radius: 50%;
      overflow: hidden;
}
.footer{
  background-color: #0E1E25;

}
.footer-menu-item{
color: white;
text-decoration: none;
}
.footer-menu-item li{
  text-decoration: none;

}
