.bannierEX img{
width: 100%;
background-size: cover;
filter: blur(1px);
}
.paginationExp ul{
  display: flex;
  justify-content: center;
}
.Motbienv{
  text-align: center;
}
.card {
  width: 100%;
  background-color: #ec971f;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}
.card img {
  border-radius: 5px;
}
.card-titlePP{
  color: white;
  margin-top: 20px;
}
.cardExplo{
  padding: 50px;
}
.card-textP{
  text-align: center;
  margin-top: 20px;
  color: white;
}
.single-explore-item{
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  max-height: 600px;
  min-height: 600px;

}
.single-explore-img img{
  max-width: 500px;
  min-width: 500px;
  max-height: 300px;
  min-height: 300px;
}
/* animation text  */

.rating {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 100px;
  /* Reverse the order of the stars */
  font-size: 0;
  /* Remove the space between the elements */
}

.rating input[type="radio"] {
  display: none;
  /* Hide the radio buttons */
}

.rating label {
  font-size: 30px;
  color: rgba(187, 183, 183, 0.726);
  /* Empty star color */
  margin: 0 2px;
  cursor: pointer;
}

.rating label:before {
  content: "\2605";
  /* Unicode character for filled star */
}

.rating input[type="radio"]:checked~label:before {
  content: "\2606";
  /* Unicode character for empty star */
  color: #016bf5;
  /* Filled star color */
}

