<!-- <p>explorer works!</p> -->
<div class="bannierEX">
  <img src="assets/bannerexplore.png" alt="" height="50">
</div>
  <!-- explorer.component.html -->

             <section id="explore" class="explore">
              <div class="container">
                <div class="section-header">
                  <h2>explore</h2>
                  <p>Explorez de nouveaux lieux, de la nourriture, de la culture à travers le Sénégal et bien d'autres</p>
                </div>
                <div class="explore-content">
                  <div class="row">
                    <div class=" col-md-4 col-sm-6">
                      <div class="single-explore-item">
                        <div class="single-explore-img">
                          <img src="https://i.pinimg.com/originals/73/80/67/7380672f2425bc3f3eb55ee7d7e1342b.jpg" alt="explore image">
                          <div class="single-explore-img-info">
                            <button onclick="window.location.href='#'">Le Mieux Noté</button>
                            <div class="single-explore-image-icon-box">
                              <ul>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-arrows-alt"></i>
                                  </div>
                                </li>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-bookmark-o"></i>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="single-explore-txt bg-theme-1">
                          <h2><a href="#">Toubacouta</a></h2>
                          <p class="explore-rating-price">
                            <span class="explore-rating">5.0</span>
                            <a href="#"> 10 évaluations</a>
                            <span class="explore-price-box">
                              Tarif
                              <span class="explore-price">5$-30$</span>
                            </span>
                          </p>
                          <p>Toubacouta (ou Toubakouta) est un village du Sénégal, situé dans le Sine-Saloum à une quarantaine de kilomètres au sud
                          de Foundiougne, entre Sokone et Karang Poste.</p>
                          <div class="explore-open-close-part">
                            <div class="row">
                              <div class="col-sm-5">
                                <button type="button" class="btn btn-warning" [routerLink]="['/details']">Détails</button>
                              </div>
                              <div class="col-sm-7">
                                <div class="explore-map-icon">
                                  <a href="#"><i data-feather="map-pin"></i></a>
                                  <a href="#"><i data-feather="upload"></i></a>
                                  <a href="#"><i data-feather="heart"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                      <div class="single-explore-item">
                        <div class="single-explore-img">
                          <img src="https://www.restaurantlapointe.com/wp-content/uploads/2022/01/Pointe-des-almadies-33.jpg" alt="explore image">
                          <div class="single-explore-img-info">
                            <button onclick="window.location.href='#'">En Vedette</button>
                            <div class="single-explore-image-icon-box">
                              <ul>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-arrows-alt"></i>
                                  </div>
                                </li>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-bookmark-o"></i>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="single-explore-txt bg-theme-2">
                          <h2><a href="#">Cap Skirring</a></h2>
                          <p class="explore-rating-price">
                            <span class="explore-rating">4.5</span>
                            <a href="#"> 8 évaluations</a>
                            <span class="explore-price-box">
                              Tarif
                              <span class="explore-price">50$-60$</span>
                            </span>
                          </p>
                          <p>Ici tout le monde vous attend pour vous faire découvrir la Casamance et le meilleur du sud du Sénégal.
                            Petite perle du bout du monde, le Cap Skirring et ses magnifiques plages de sable blanc.
                          </p>
                          <div class="explore-open-close-part">
                            <div class="row">
                              <div class="col-sm-5">
                                <button type="button" class="btn btn-warning"[routerLink]="['/details']">Détails</button>
                              </div>
                              <div class="col-sm-7">
                                <div class="explore-map-icon">
                                  <a href="#"><i data-feather="map-pin"></i></a>
                                  <a href="#"><i data-feather="upload"></i></a>
                                  <a href="#"><i data-feather="heart"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                      <div class="single-explore-item">
                        <div class="single-explore-img">
                          <img src="https://www.blog.secretoo.com/wp-content/uploads/2023/03/AdobeStock_166364439-min.jpeg "
                            alt="explore image" height="300">
                          <div class="single-explore-img-info">
                            <button onclick="window.location.href='#'">Le Mieux Noté</button>
                            <div class="single-explore-image-icon-box">
                              <ul>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-arrows-alt"></i>
                                  </div>
                                </li>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-bookmark-o"></i>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="single-explore-txt bg-theme-3">
                          <h2><a href="#">Gorré</a></h2>
                          <p class="explore-rating-price">
                            <span class="explore-rating">5.0</span>
                            <a href="#"> 15 évaluations</a>
                            <span class="explore-price-box">
                              Tarif
                              <span class="explore-price">100$-110$</span>
                            </span>

                          </p>
                          <p>Au large des côtes du Sénégal, en face de Dakar, Gorée a été du XVe au XIXe siècle le plus grand centre de commerce
                          d'esclaves de la côte africaine.</p>
                          <div class="explore-open-close-part">
                            <div class="row">
                              <div class="col-sm-5">
                                <button type="button" class="btn btn-warning" [routerLink]="['/details']">Details</button>
                              </div>
                              <div class="col-sm-7">
                                <div class="explore-map-icon">
                                  <a href="#"><i data-feather="map-pin"></i></a>
                                  <a href="#"><i data-feather="upload"></i></a>
                                  <a href="#"><i data-feather="heart"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class=" col-md-4 col-sm-6">
                      <div class="single-explore-item">
                        <div class="single-explore-img">
                          <img src="https://www.unesco.org/sites/default/files/parc_djoudj_by-layepro-8_b.jpg" alt="explore image">
                          <div class="single-explore-img-info">
                            <button onclick="window.location.href='#'">La Plupart des Vues</button>
                            <div class="single-explore-image-icon-box">
                              <ul>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-arrows-alt"></i>
                                  </div>
                                </li>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-bookmark-o"></i>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="single-explore-txt bg-theme-4">
                          <h2><a href="#">Parc National de Djoud </a></h2>
                          <p class="explore-rating-price">
                            <span class="explore-rating">5.0</span>
                            <a href="#"> 10 Evaluations</a>
                            <span class="explore-price-box">
                              Tarif
                              <span class="explore-price">200$-250$</span>
                            </span>
                          </p>
                          <p>Le parc national des oiseaux du Djoudj (PNOD) est situé à une soixantaine de kilomètres au nord de Saint-Louis du
                          Sénégal, Paradis des oiseaux migrateurs</p>
                          <div class="explore-open-close-part">
                            <div class="row">
                              <div class="col-sm-5">
                                <button type="button" class="btn btn-warning" [routerLink]="['/details']">Details</button>
                              </div>
                              <div class="col-sm-7">
                                <div class="explore-map-icon">
                                  <a href="#"><i data-feather="map-pin"></i></a>
                                  <a href="#"><i data-feather="upload"></i></a>
                                  <a href="#"><i data-feather="heart"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                      <div class="single-explore-item">
                        <div class="single-explore-img">
                          <img
                            src="https://africaprotravel.com/wp-content/uploads/2018/11/Marche-avec-les-lions.jpg"
                            alt="explore image">
                          <div class="single-explore-img-info">
                            <button onclick="window.location.href='#'">En Vedette</button>
                            <div class="single-explore-image-icon-box">
                              <ul>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-arrows-alt"></i>
                                  </div>
                                </li>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-bookmark-o"></i>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="single-explore-txt bg-theme-2">
                          <h2><a href="#">Lréserve de fathala</a></h2>
                          <p class="explore-rating-price">
                            <span class="explore-rating">4.2</span>
                            <a href="#"> 8 évaluations</a>
                            <span class="explore-price-box">
                              Tarif
                              <span class="explore-price">20$-30$</span>
                            </span>
                          </p>
                          <p>La réserve sauvage de Fathala au Sénégal offre luxe en tente, safaris et découvertes dans nature sauvage africaine.
                          Hébergement, visites exceptionnels.</p>
                          <div class="explore-open-close-part">
                            <div class="row">
                              <div class="col-sm-5">
                                <button type="button" class="btn btn-warning" [routerLink]="['/details']"> Details </button>
                              </div>
                              <div class="col-sm-7">
                                <div class="explore-map-icon">
                                  <a href="#"><i data-feather="map-pin"></i></a>
                                  <a href="#"><i data-feather="upload"></i></a>
                                  <a href="#"><i data-feather="heart"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                      <div class="single-explore-item">
                        <div class="single-explore-img">
                          <img src="https://images3.bovpg.net/r/back/fr/sale/35d33be6e5ac78.jpg" alt="explore image">
                          <div class="single-explore-img-info">
                            <button onclick="window.location.href='#'">Le Plus noté</button>
                            <div class="single-explore-image-icon-box">
                              <ul>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-arrows-alt"></i>
                                  </div>
                                </li>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-bookmark-o"></i>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="single-explore-txt bg-theme-5">
                          <h2><a href="#">Parc De Bandia</a></h2>
                          <p class="explore-rating-price">
                            <span class="explore-rating">5.0</span>
                            <a href="#"> 15 Evaluations</a>
                            <span class="explore-price-box">
                              Tarif
                              <span class="explore-price">100$-200$</span>
                            </span>
                          </p>
                          <p>Un safari inoubliable lors de votre séjour au Sénégal dans la réserve de Bandia où vous pourrez rencontrer tous les
                          grands mammifères d'Afrique dans 3.500 ha</p>
                          <div class="explore-open-close-part">
                            <div class="row">
                              <div class="col-sm-5">
                                <button type="button" class="btn btn-warning" [routerLink]="['/details']">Details</button>
                              </div>
                              <div class="col-sm-7">
                                <div class="explore-map-icon">
                                  <a href="#"><i data-feather="map-pin"></i></a>
                                  <a href="#"><i data-feather="upload"></i></a>
                                  <a href="#"><i data-feather="heart"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class=" col-md-4 col-sm-6">
                      <div class="single-explore-item">
                        <div class="single-explore-img">
                          <img src="https://ola.sn/wp-content/uploads/2021/11/445385.jpg" alt="explore image">
                          <div class="single-explore-img-info">
                            <button onclick="window.location.href='#'">Le Mieux Noté</button>
                            <div class="single-explore-image-icon-box">
                              <ul>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-arrows-alt"></i>
                                  </div>
                                </li>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-bookmark-o"></i>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="single-explore-txt bg-theme-1">
                          <h2><a href="#">Parc Niokolo koba</a></h2>
                          <p class="explore-rating-price">
                            <span class="explore-rating">5.0</span>
                            <a href="#"> 10 évaluations</a>
                            <span class="explore-price-box">
                              Tarif
                              <span class="explore-price">5$-30$</span>
                            </span>
                          </p>
                          <p>Le parc national du Niokolo-Koba (PNNK) est un parc national situé à 650 km à l'est de Dakar dans la région de
                          Tambacounda, dans le sud-est du Sénégal</p>
                          <div class="explore-open-close-part">
                            <div class="row">
                              <div class="col-sm-5">
                                <button type="button" class="btn btn-warning" [routerLink]="['/details']">Détails</button>
                              </div>
                              <div class="col-sm-7">
                                <div class="explore-map-icon">
                                  <a href="#"><i data-feather="map-pin"></i></a>
                                  <a href="#"><i data-feather="upload"></i></a>
                                  <a href="#"><i data-feather="heart"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                      <div class="single-explore-item">
                        <div class="single-explore-img">
                          <img src="assets/images/explore/e2.jpg" alt="explore image">
                          <div class="single-explore-img-info">
                            <button onclick="window.location.href='#'">En Vedette</button>
                            <div class="single-explore-image-icon-box">
                              <ul>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-arrows-alt"></i>
                                  </div>
                                </li>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-bookmark-o"></i>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="single-explore-txt bg-theme-2">
                          <h2><a href="#">Saly Mbour</a></h2>
                          <p class="explore-rating-price">
                            <span class="explore-rating">4.5</span>
                            <a href="#"> 8 évaluations</a>
                            <span class="explore-price-box">
                              Tarif
                              <span class="explore-price">50$-60$</span>
                            </span>
                          </p>
                          <p>Le Saly Hôtel est un établissement 4 étoiles de style traditionnel africain, avec une vue face à la mer,Profitez d'un
                          séjour exceptionnel</p>
                          <div class="explore-open-close-part">
                            <div class="row">
                              <div class="col-sm-5">
                                <button type="button" class="btn btn-warning"[routerLink]="['/details']">Détails</button>
                              </div>
                              <div class="col-sm-7">
                                <div class="explore-map-icon">
                                  <a href="#"><i data-feather="map-pin"></i></a>
                                  <a href="#"><i data-feather="upload"></i></a>
                                  <a href="#"><i data-feather="heart"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                      <div class="single-explore-item">
                        <div class="single-explore-img">
                          <img src="https://www.koldanews.com/wp-content/uploads/2017/08/pontfaidherbe.jpg"
                            alt="explore image" height="300">
                          <div class="single-explore-img-info">
                            <button onclick="window.location.href='#'">Le Mieux Noté</button>
                            <div class="single-explore-image-icon-box">
                              <ul>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-arrows-alt"></i>
                                  </div>
                                </li>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-bookmark-o"></i>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="single-explore-txt bg-theme-3">
                          <h2><a href="#">Pont Federbe de Saint-Loui</a></h2>
                          <p class="explore-rating-price">
                            <span class="explore-rating">5.0</span>
                            <a href="#"> 15 évaluations</a>
                            <span class="explore-price-box">
                              Tarif
                              <span class="explore-price">100$-110$</span>
                            </span>
                          </p>
                          <p>Le pont Faidherbe est l'unique point de passage vers l'île historique de Saint-Louis du Sénégal, et son quartier des
                          pêcheurs Guet Ndar,par lequel le visiteur découvre la ville et son prestigieux.</p>
                          <div class="explore-open-close-part">
                            <div class="row">
                              <div class="col-sm-5">
                                <button type="button" class="btn btn-warning" [routerLink]="['/details']">Details</button>
                              </div>
                              <div class="col-sm-7">
                                <div class="explore-map-icon">
                                  <a href="#"><i data-feather="map-pin"></i></a>
                                  <a href="#"><i data-feather="upload"></i></a>
                                  <a href="#"><i data-feather="heart"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class=" col-md-4 col-sm-6">
                      <div class="single-explore-item">
                        <div class="single-explore-img">
                          <img src="assets/images/explore/e4.jpg" alt="explore image">
                          <div class="single-explore-img-info">
                            <button onclick="window.location.href='#'">La Plupart des Vues</button>
                            <div class="single-explore-image-icon-box">
                              <ul>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-arrows-alt"></i>
                                  </div>
                                </li>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-bookmark-o"></i>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="single-explore-txt bg-theme-4">
                          <h2><a href="#">Hotel Adiana </a></h2>
                          <p class="explore-rating-price">
                            <span class="explore-rating">5.0</span>
                            <a href="#"> 10 Evaluations</a>
                            <span class="explore-price-box">
                              Tarif
                              <span class="explore-price">200$-250$</span>
                            </span>
                            <a href="#">Hotel</a>
                          </p>

                          <div class="explore-open-close-part">
                            <div class="row">
                              <div class="col-sm-5">
                                <button type="button" class="btn btn-warning" [routerLink]="['/details']">Details</button>
                              </div>
                              <div class="col-sm-7">
                                <div class="explore-map-icon">
                                  <a href="#"><i data-feather="map-pin"></i></a>
                                  <a href="#"><i data-feather="upload"></i></a>
                                  <a href="#"><i data-feather="heart"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                      <div class="single-explore-item">
                        <div class="single-explore-img">
                          <img
                            src="https://destinationafrique.io/wp-content/uploads/2021/06/Senegal-A-la-decouverte-du-Monument-de-la-Renaissance-Africaine-de-Dakar.jpg"
                            alt="explore image">
                          <div class="single-explore-img-info">
                            <button onclick="window.location.href='#'">En Vedette</button>
                            <div class="single-explore-image-icon-box">
                              <ul>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-arrows-alt"></i>
                                  </div>
                                </li>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-bookmark-o"></i>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="single-explore-txt bg-theme-2">
                          <h2><a href="#">Menumant de la Renaissance</a></h2>
                          <p class="explore-rating-price">
                            <span class="explore-rating">4.2</span>
                            <a href="#"> 8 évaluations</a>
                            <span class="explore-price-box">
                              Tarif
                              <span class="explore-price">20$-30$</span>
                            </span>
                            <a href="#">Dakar</a>
                          </p>

                          <div class="explore-open-close-part">
                            <div class="row">
                              <div class="col-sm-5">
                                <button type="button" class="btn btn-warning" [routerLink]="['/details']"> Details </button>
                              </div>
                              <div class="col-sm-7">
                                <div class="explore-map-icon">
                                  <a href="#"><i data-feather="map-pin"></i></a>
                                  <a href="#"><i data-feather="upload"></i></a>
                                  <a href="#"><i data-feather="heart"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                      <div class="single-explore-item">
                        <div class="single-explore-img">
                          <img src="assets/images/explore/e6.jpg" alt="explore image">
                          <div class="single-explore-img-info">
                            <button onclick="window.location.href='#'">Le Plus noté</button>
                            <div class="single-explore-image-icon-box">
                              <ul>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-arrows-alt"></i>
                                  </div>
                                </li>
                                <li>
                                  <div class="single-explore-image-icon">
                                    <i class="fa fa-bookmark-o"></i>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="single-explore-txt bg-theme-5">
                          <h2><a href="#">Kédougou</a></h2>
                          <p class="explore-rating-price">
                            <span class="explore-rating">5.0</span>
                            <a href="#"> 15 ratings</a>
                            <span class="explore-price-box">
                              Tarif
                              <span class="explore-price">100$-200$</span>
                            </span>
                            <a href="#">destination</a>
                          </p>

                          <div class="explore-open-close-part">
                            <div class="row">
                              <div class="col-sm-5">
                                <button type="button" class="btn btn-warning" [routerLink]="['/details']">Details</button>
                              </div>
                              <div class="col-sm-7">
                                <div class="explore-map-icon">
                                  <a href="#"><i data-feather="map-pin"></i></a>
                                  <a href="#"><i data-feather="upload"></i></a>
                                  <a href="#"><i data-feather="heart"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <div class="paginationExp">
              <nav aria-label="Page navigation example">
                <ul class="pagination  ">
                  <li class="page-item ">
                    <a class="page-link " href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="Motbienv">
              <h3>SEN-DECOUERTE vous souhaite un bon séjour</h3>
            </div>
              <div class="cardExplo">
<div class="card mb-3 mt-6 ">
  <div class="row g-0 ">
    <div class="col-md-6">
      <img src="https://acgroupvoyages.com/wp-content/uploads/2020/03/Plage-Saly-vacances-senegal.jpg" alt="...">
    </div>
    <div class="col-md-6 ">
      <div class="Textcard">
      <div class="card-body ">
        <h5 class="card-titlePP ">SENEGAL PAYS DE LA TERANGA</h5>
        <p class="card-textP">
Rendez votre vie immortelle avec des souvenirs inoubliable , choisissez l’endroit idéal pour vous et savourer les beaux
paysages du Sénégal, des lieus offrant des vues magnifiques, une nature préservée et une ambiance paisible.

Le Sénégal est réputé pour son hospitalité chaleureuse envers les visiteurs.

Le Sénégal abrite plusieurs sites touristiques remarquables, dont l'île de Gorée, classée au patrimoine mondial de
l'UNESCO, connue pour son rôle historique dans le commerce des esclaves.
La Réserve de Bandia offre une expérience de safari, tandis que le Lac Rose, teinté de rose par les algues, est un lieu
unique à explorer et tant d’autres.</p>
      </div>
      </div>
    </div>
  </div>
</div>
</div>

            <!-- <div class="pagePiedExplo">
              <div class="ImagePagep">
                <img src="https://acgroupvoyages.com/wp-content/uploads/2020/03/Plage-Saly-vacances-senegal.jpg" alt="">
              </div>
              <div class="TextPageP">
                <div class="TitlePie"><h4>SENEGAL PAYS DE LA TERANGA</h4></div>
                <div class="textepied">
                  <p>Rendez votre vie immortelle avec des souvenirs inoubliable , choisissez l’endroit idéal pour vous et savourer les
                    beaux
                    paysages du Sénégal, des lieus offrant des vues magnifiques, une nature préservée et une ambiance paisible.</p>
                  <p>Le Sénégal est réputé pour son hospitalité chaleureuse envers les visiteurs.</p> <br>
                  <p>Le Sénégal abrite plusieurs sites touristiques remarquables, dont l'île de Gorée, classée au patrimoine mondial de
                    l'UNESCO, connue pour son rôle historique dans le commerce des esclaves.</p>
                  <p>La Réserve de Bandia offre une expérience de safari, tandis que le Lac Rose, teinté de rose par les algues, est un
                    lieu
                    unique à explorer et tant d’autres.</p>
                </div>
              </div>

            </div>
 -->
